

<div class="jumbotron">
 <h1>Amatsu Clinic Wicklow</h1>
<p>Find me in app/views/pages/index.html.erb</p>
  <p><a class="btn btn-primary btn-lg" href="/contacts/new" role="button">Learn more</a></p>
</div>

